<div>
    <p style="text-align: center;"><strong><h3>Term &amp; condition&nbsp;</h3></strong></p>
    <ul>
        <li style="font-weight: 400;"><span style="font-weight: 400;">If any garments are not perfect to fit by us, you
                can claim with us within 5 days only&nbsp;</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">&nbsp;User should&nbsp; give the confirmation on
                the same time for his &nbsp; garment&nbsp; when pickup &amp; delivery&nbsp;</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">We can provide 3 pick delivery on a single order
                but after that is chargeable on any modification&nbsp;</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">After 5 days if u have any modification it comes
                in new order &amp; new payment&nbsp;</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">If&nbsp; your given measurement is not perfect by
                you&nbsp; so this is not are responsible</span></li>
        <li style="font-weight: 400;"><strong>&nbsp;</strong><span style="font-weight: 400;">According to your time if
                pick or delivery will not get it will chargeable to you for next time&nbsp;</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Subject to Bhopal - jurisdiction only</span></li>
    </ul>
    <ul>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Suggesting the best design for your fabric
                according to your requirement.</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Taking a guarantee for your fabric&nbsp; &amp;
                best-fit garment that is secure with us.&nbsp;</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Giving the best pricing on your own design
                dress.&nbsp;</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Minimum time taking doorstep&nbsp;
                guarantee</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Fabric will complete delivery within 7 business
                days&nbsp;</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Our service hours are morning 6:00 AM to
                evening 7:00 PM&nbsp;</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">We providing premium services also but it would be
                chargeable&nbsp; 7:00&nbsp; pm to&nbsp; 11:00 pm&nbsp; nd with the extra hours&nbsp;</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">All types of services we can provide for
                alteration &amp; repairing minimum in one time 5&nbsp; clothes minimum.</span></li>
    </ul>
    <ul>
        <li style="font-weight: 400;"><span style="font-weight: 400;">As per request user select the time according to
                the time&nbsp;</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">As per request, u have to cover the time within 45
                min&nbsp; attend the user&nbsp;</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Pick &amp; delivery guy&nbsp; have to
                confirm from the user side they take the&nbsp; fabric &amp; best-fit garment at the same
                time&nbsp;</span></li>
        <li style="font-weight: 400;"><span style="font-weight: 400;">Pick&nbsp; &amp; delivery people have to
                confirm that the user will get the garment and it would be perfect.</span></li>
    </ul>


</div>