rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /query/{query} {
      allow write;
      allow read:if request.auth.uid != null;
    }
    
     match /customers/{customer} {
      allow write;
      allow read:if request.auth.uid != null;
    }
     match /{collection}/{query} {
      allow write;
      allow read;
    }
  }
}
