<header>
  <div class="container-fluid p-0 head1">
    <nav class="navbar navbar-expand-lg">
      <a href="/">

        <img src="../assets/css/logo-masterji.svg" class="logo" alt="">
      </a>

      <img src="../assets/css/burger.svg" class="navbar-toggler nav_btn" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" alt="">
      <div class="collapse navbar-collapse" id="navbarNav">
        <span class="spacer"></span>
        <ul class="navbar-nav nav_menu" style="float: right;padding: 3px;">
          <li class="nav-item active">
            <a class="nav-link" href="https://shop.masterji.online" target="_blank">Fashion Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://fashionship.masterji.online" target="_blank">Fashion Ship</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://masterji.online/blog/" target="_blank">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact_us">Contact us</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div id="main_home" class="container text-center">
    <div class="row">
      <div class="col-md-12 col-sm-12 main_heading">
        <h1>Book Tailor <br />At<br />Your Doorstep</h1>
        <div class="row icon_div">
          <div class="col-md-6 col-sm-2 playstore">
            <a href="https://play.google.com/store/apps/details?id=online.masterji.honchiSolution">
              <img src="../assets/css/gplay.svg" class="img1" alt="gplay">
            </a>
          </div>
          <div class="col-md-6 col-md-2">
            <a href="https://apps.apple.com/in/app/masterji/id1531745236">
            <img src="../assets/css/app-store.svg" class="img2" style="margin-top: 14px;" alt="appstore">
         </a>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-2 book">
            <a href="https://book.masterji.online">
              <img src="../assets/css/booknow.png" class="img1" alt="book">
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-sm-12 h-25">
        <!-- <img src="./assets/bg1.svg" alt="banner"> -->
      </div>
    </div>
  </div>
</header>
<br><br><br>
<main class="main">

  <div class="parallax-window" data-parallax="scroll" data-image-src="../assets/css/back.png">

    <section class="section-1">
      <div class="p-2 heading1 col-sm-12 col-md-12" id="how_it_works">
        <img src="../assets/css/circle.svg" alt="">
        <h1><b>How it works</b></h1>
      </div><br><br>
      <div class="container">
        <div class="text-center">
          <div class="row">
            <div class="col-md-3">
              <div class="step1">
                <img src="../assets/css/step1.svg" alt="step1">
                <h2>1</h2>
                <p style="text-align: justify; text-justify: inter-word;"><b>Choose your category from over 40
                    subcategories in “Men and Women” and curate your outfit book
                    an appointment</b></p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="step2">
                <img src="../assets/css/step2.svg" alt="step2">
                <h2>2</h2>
                <!-- <span>After Booking</span> -->
                <p style="text-align: justify; text-justify: inter-word;"><b>A Tailor at your doorsteps in the next
                    hours</b></p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="step3">
                <img src="../assets/css/step3.svg" alt="step3">
                <h2>3</h2>
                <p style="text-align: justify; text-justify: inter-word;"><b>Masterji experts will take your
                    measurements so you can keep your measurements the way you want &
                    collect your fabric.</b></p>
              </div>
            </div>
            <div class="col-md-3">
              <div class="step4">
                <img src="../assets/css/step4.svg" alt="step4">
                <h2>4</h2>
                <!-- <span>After 3-6days</span> -->
                <p style="text-align: justify; text-justify: inter-word;"><b>A properly stitched attire woven with
                    love and care to fit you perfectly will be delivered in 7
                    business days.</b></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br><br><br>
  <!-- </div> -->

  <!-- <div class="parallax-window" data-parallax="scroll" data-image-src="../assets/css/r.png"> -->
    <section class="section-2 container-fluid p-0">
      <div class="content text-center">
        <img src="../assets/css/heart-icon.svg" width="50px" alt="envelope">
        <h1><b>The customer says it all.</b></h1>
      </div>
      <br><br>
      <div class="persons">
        <div class="container text-center">
          <div class="row" style="width: 100%;">
            <div class="col-lg-4 col-md-6 imgs">
              <img src="../assets/pooja.png" width="100px" alt="person">
              <div>
                <p style="text-align: justify; text-justify: inter-word;">Very good service, I'm very happy with the
                  quality of stitching of cloth and the door service provided
                  along with the measurements and alterations also done, I would definitely recommend this app, Best Online Tailor in Bangalore 
                  Thank you
                  Masterji .</p>
                <h4>Pooja Hamilpurkar</h4>
                <h5>January 25, 2020</h5>
                <p>Bangalore</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 imgs">
              <img src="../assets/seema.png" width="100px" alt="person">
              <div>
                <p style="text-align: justify; text-justify: inter-word;">I was searching best ladies tailor near me on google than suddenly this app pop up , I tried this online tailor in Bangalore once looks ossom best work</p>
                <h4>Seema Singh</h4>
                <h5>June 24, 2019</h5>
                <p>Bangalore</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 imgs">
              <img src="../assets/alok.png" width="100px" alt="person">
              <div>
                <p style="text-align: justify; text-justify: inter-word;">Excellent!! Super easy to order, excellent
                  customer service, quick to fulfill orders, excellent
                  shirts!! I will definitely order again! My Father is so happy to have shirts that fit him properly
                  for
                  the first time ever! Thank you, Master Ji !! Highly recommend them!</p>
                <h4>Alok Sharma</h4>
                <h5>Jun 13, 2019</h5>
                <p>Delhi</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <br><br><br>
  <!-- </div> -->

  <!-- <div class="parallax-window" data-parallax="scroll" data-image-src="../assets/css/back.png"> -->

    <section class="section-2">
      <div class="p-2 heading2 col-sm-12 col-md-12">
        <img src="../assets/css/circle.svg" alt="">
        <h1><b>About Masterji</b></h1>
      </div><br><br>
      <div class="about">
        <div class="row" style="width: 100%;">
          <div class="col-md-2">
            <img src="../assets/css/circle.svg" width="100px">
          </div>
          <div class="col-md-6">
            <div class="about_content">
              <p style="text-align: justify; text-justify: inter-word;">
                Masterji- India’s custom tailoring brand. your Tailor-Near-Me Solution is just download Away or Best-Online-Tailor .We hire the most talented professionals for stitching
                garments , tailor shop near me dont do hustle just download the app .
                Our Mission: To provide class in style and Best Tailor at your doorstep.
                Masterji serves as the “All in one” platform to cater to your needs. Tailor Near me , Best Online Tailor in Bangalore , Best stitching services or your query of ladies tailor near me all just app download away <br /><br>
                A team of professionals selected after intensive training and interviews. Designed to cater your needs
                directly at your doorstep. Reinventing the concept of tailoring.
                We understand you and your need for customization. So, here we are in this app to entertain all your
                orders and queries. Customizing relations while creating fashion. <br>
                <br />Download the app now to enjoy our services. <br /><br>
                An affordable app when it comes to pricing you could not find anywhere else. So, book your seat to ramp
                up
                your style.
                <br /><br>
                Masterji- The Perfect Fitting

              </p>
            </div>
          </div>
          <div class="col-md-4">
          </div>
        </div>
      </div>
    </section>
    <br><br><br>
  <!-- </div> -->

  <!-- <div class="parallax-window" data-parallax="scroll" data-image-src="../assets/css/back.png"> -->
    <section class="section-2 container-fluid p-0">
      <div class="p-2 heading3 col-sm-12 col-md-12" id="how_it_works">
        <img src="../assets/css/circle.svg" width="200px" alt="fq">
        <h1><b>Frequently asked questions</b></h1>
      </div><br><br><br><br>
      <div class="row" style="width: 100%;">
        <div class="col-md-1"></div>
        <div class="col">
          <div class="accord" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h2 class="mb-0">
                  <a class="btns accordion-toggle" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    How many times can someone book for the order?
                  </a>
                </h2>
              </div>
              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body acc_content">
                  There is no condition to book it one time or five. As far as you are loving our services, we would
                  love
                  to serve you multiple times.
                </div>
              </div>
            </div><br>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h2 class="mb-0">
                  <a class="accordion-toggle btns collapsed" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="false" aria-controls="collapseTwo">
                    Can I book my appointment on call?
                  </a>
                </h2>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body acc_content">
                  We are happy to serve you. The first step is to download the “Masterji” App and schedule your
                  appointment. In case you are not able to get in touch with this, call us on the number on our website
                  <a href="https://masterji.online/">masterji.online</a>
                  . How do I get to know about the confirmation of my order? As soon as you book an
                  appointment. You’ll get SMS regarding the same. In case of any discrepancy, you can call us at
                  <span style="color: #428bca;">9902127313</span>,
                  or email at <span style="color: #428bca;">connect@masterji.online</span>.
                </div>
              </div>
            </div><br>
            <div class="card" style="background-color: white !important;">
              <div class="card-header" id="headingThree">
                <h2 class="mb-0">
                  <a class="accordion-toggle btns collapsed" data-toggle="collapse" data-target="#collapseThree"
                    aria-expanded="false" aria-controls="collapseThree">
                    If I want some alterations in my order- what to do?
                  </a>
                </h2>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body acc_content">
                  You don’t have to rush anywhere in case you want some things to be done at your wish. Just call us
                  <span style="color: #428bca;">9902127313</span> or email at <span
                    style="color: #428bca;">connect@masterji.online</span>. We’ll do it at your convenience.
                </div>
              </div>
            </div><br>
            <div class="card" style="background-color: white !important;">
              <div class="card-header" id="headingFour">
                <h2 class="mb-0">
                  <a class="accordion-toggle btns collapsed" data-toggle="collapse" data-target="#collapseFour"
                    aria-expanded="false" aria-controls="collapseFour">
                    How will my order be delivered?
                  </a>
                </h2>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body acc_content">
                  We have a team of executives who will deliver your order timely. WE’ll keep you updated regarding the
                  same. Once dispatched you can track your order.
                </div>
              </div>
            </div><br>
            <div class="card" style="background-color: white !important;">
              <div class="card-header" id="headingFive">
                <h2 class="mb-0">
                  <a class="accordion-toggle btns collapsed" data-toggle="collapse" data-target="#collapseFive"
                    aria-expanded="false" aria-controls="collapseFive">
                    In how many days can I get my outfit delivered?
                  </a>
                </h2>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body acc_content">
                  It usually takes four to five business days. Business days do not include Saturdays and Sundays. When
                  it
                  comes to the festive season we are here to provide you the fastest delivery possible (3-4 days).
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>
    <br><br><br><br><br>
  <!-- </div> -->

  <!-- <div class="parallax-window" data-parallax="scroll" data-image-src="../assets/css/back.png"> -->
    <section class="container-fluid p-0">
      <div class="row" id="contact_us" style="width: 100%;">
        <div class="col-md-1 rst"></div>
        <div class="col-md-1 rst">
          <img src="../assets/css/circle.svg" width="100px" style="margin-top: 200px;">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-1"></div>
        <div class="col-md-1 rst">
          <img src="../assets/css/circle.svg" width="20px" style="padding: 5px;">
        </div>
        <form [formGroup]="queryForm" (ngSubmit)="submitQuery()">

          <div class="col contactus">
            <div class="contact">
              <div class="row">
                <img src="../assets/css/envelope.svg">
              </div>
              <h1>Contact us</h1>
              <br>
              <div class="row">
                <textarea formControlName="message" name="customer_textarea" id="tc"
                  placeholder="We would love to hear from you" cols="35" rows="5"
                  style="border-radius: 4px;border: 1px dashed;padding: 10px;resize: none; width: 100%;"></textarea>
              </div>&nbsp;
              <div class="row">
                <input formControlName="email" type="email" id="customer_email" placeholder="Enter your email ID"
                  style="border-radius: 4px;border: 1px dashed;width: 100%;padding: 10px;">
              </div>&nbsp;
              <div class="row">
                <button class="sub-btn" type="submit" [disabled]="!queryForm.valid">
                  <img src="../assets/css/btn.svg" width="286px">
                </button>
              </div>
            </div>
          </div>

        </form>
        <div class="col-md-1 rst">
          <img src="../assets/css/circle.svg" width="70px" style="margin-top: 300px;">
        </div>
        <div class="col-md-1 rst">
          <img src="../assets/css/circle.svg" width="20px" style="margin-top: 10px;">
        </div>
        <div class="col-md-1 rst"></div>
        <div class="col-md-1 rst">
          <img src="../assets/css/circle.svg" width="30px" style="margin-top: 200px;">
        </div>
      </div>
    </section>
  </div>
</main>
<br><br><br>
<div class="brk">
</div>
<br><br><br>
<footer class="footer">
  <div class="row" style="width: 100%;">
    <div class="col-md-1"></div>
    <div class="col-md-2 footer1">
      <img src="../assets/css/logo-masterji.svg" alt="">
    </div>
    <div class="col-md-3 footer2 ft_2_col2" style="line-height: 1.5rem;">
      <h5><b>Masterji online private limited</b></h5>
      <h4 style="font-weight: bold;">Address:</h4>
      <p>36, 2nd Floor, Salarpuria Tower -1, No. 22 ,Next to Forum Mall, Hosur Rd, above Big Bazzar, 7th Block, 
        koramangala, Bengaluru, Karnataka 560095, Contact No: 9902127313
      </p><br>
      <div class="row">
        <div class="col yt">
          <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/channel/UCpUI7ns350VWHHExtnjWuBw">
            <img src="../assets/css/yt.svg" alt="youtube">
          </a>
        </div>&nbsp;&nbsp;
        <div class="col tw">
          <a target="_blank" rel="noopener noreferrer" href="https://twitter.com/MasterJiTailor?t=Gry7WSQy8w2x8l4256vprA&s=08">
            <img width="35px" src="../assets/css/twitter.svg" alt="twitter">
          </a>
        </div>&nbsp;&nbsp;
        <div class="col ins">
          <a target="_blank" rel="noopener noreferrer" href="https://instagram.com/masterjitailor?utm_medium=copy_link">
            <img src="../assets/css/inst.svg" alt="instagram">
          </a>
        </div>&nbsp;&nbsp;
        <div class="col fb">
          <a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/MasterJiOnlineTailor/">
            <img src="../assets/css/fb.svg" alt="facebook">
          </a>
        </div>
        <div class="col-md-3"></div>
      </div><br>
      <!-- <div class="row">
          <div class="col lin">
            <a href="https://www.linkedin.com/company/masterji/?viewAsMember=true">
              <img src="../assets/css/Linkedin_circle.svg" alt="linkedin">
            </a>
          </div>&nbsp;&nbsp;
          <div class="col qu">
            <a href="https://www.quora.com/profile/MasterJi">
              <img width="35px" style="border-radius: 5px;" src="../assets/css/Quora_icon.svg" alt="quora">
            </a>
          </div>&nbsp;&nbsp;
          <div class="col pin">
            <a href="https://in.pinterest.com/ad1honchi2019/">
              <img src="../assets/css/pinterest.svg" alt="pinterest">
            </a>
          </div>&nbsp;&nbsp;
          <div class="col tw">
            <a href="https://twitter.com/MasterJ86543882">
              <img width="40px" src="../assets/css/twitter.svg" alt="twitter">
            </a>
          </div>
          <div class="col-md-3"></div>
        </div> -->
    </div>
    <div class="col-md-3 footer3">
      <!-- <div class="row" class="p-1">
          <h4><b>Address 2:</b></h4>
          <p>272, 36th 'A' cross, 2nd main road , 7th Block, Jayanagar, Bengaluru, Karnataka 560070</p><br>
        </div> -->
      <div class="row">
        <div class="col playstore">
          <a target="_blank" rel="noopener noreferrer" href="https://play.google.com/store/apps/details?id=online.masterji.honchiSolution">
            <img style="margin-top: 0px;" src="../assets/css/gplay.svg" alt="">
          </a>
        </div>
        <div class="col app">
          <a target="_blank" rel="noopener noreferrer" href="https://apps.apple.com/in/app/masterji/id1531745236">
          <img src="../assets/css/app-store.svg" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-3 footer4">
      <div class="ftr-last">
        <h5><a href="https://shop.masterji.online" target="_blank">Fashion Shop</a></h5>
        <h5><a href="https://fashionship.masterji.online" target="_blank">Fashion Ship</a></h5>
        <h5><a href="https://masterji.online/blog/" target="_blank">Blog</a></h5>
        <h5><a target="_blank" rel="noopener noreferrer" href="https://firebasestorage.googleapis.com/v0/b/masterji-19f75.appspot.com/o/privacy-policy%2Fprivacy%20policy%20.pdf?alt=media&token=c07a1fb5-4d0d-498c-b2b9-3215ec530cda" > Privacy Policy</a></h5>
        <h4><a target="_blank" rel="noopener noreferrer" href="mailto:connect@masterji.online">connect@masterji.online</a></h4>
      </div>
      <br>
      <div class="row">
        <div class="col lin">
          <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/masterji">
            <img src="../assets/css/Linkedin_circle.svg" alt="linkedin">
          </a>
        </div>
        <div class="col qu">
          <a target="_blank" rel="noopener noreferrer" href="https://www.quora.com/profile/MasterJi">
            <img width="35px" style="border-radius: 5px;" src="../assets/css/Quora_icon.svg" alt="quora">
          </a>
        </div>
        <div class="col pin">
          <a target="_blank" rel="noopener noreferrer" href="https://in.pinterest.com/masterjionlinetailor/">
            <img width="35px" src="../assets/css/pinterest.svg" alt="pinterest">
          </a>
        </div>&nbsp;&nbsp;
        <div class="col-md-3"></div>
      </div>

    </div>
  </div>
</footer>
<br><br><br><br>
